{% extends 'base.html' %}

  {% block content %}

  <!--
this is the actual transaction form
  !-->

  <div class="container-fluid" align="center">
    <h1>create a transaction!</h2>
  </div>

  <br><br>

      {% csrf_token %}

      <form class="form-inline" method="post">
        <div class="form-group">

  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Create transaction</button>

          </div>
        </div>
      
      </form>

<p align="left">
ICYMI: <A HREF="/admin/">Here's</A> the admin portal.
</p>

{% endblock %}
